.dp {
    border-radius: 100%;
    max-width: 36px;
    
}
.mydp {
    border-radius: 100%;
    max-width: 20px;
    
}

.instaLogo
{
    max-width: 100px;
}

.story {
    border-radius: 100%;
    max-width: 60px;
    border: 2px solid #f00;
    padding: 2px;
}
.likeddp {
    border-radius: 100%;
    max-width: 25px;
    padding-right: 5px;

} 

.navbar {
 position: fixed;
 width: 100%;
 top: 0;
 z-index: 9999;
}
.instaFeedBodyWrap {
    margin-top: 80px;
}